.menuIconBuy{
    cursor: pointer;
    z-index: 1000;
}
.menuIconBuy>span{
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: rgb(78, 78, 78);
}
.menuIconBuy>span:not(:last-child){
    margin-bottom: 7px;
}
.menuIconBuy,.menuIconBuy>span{
    transition: all .4s ease-in-out;
}
.menuIconBuy.active{
    transition-duration: 0.8px;
    z-index: 1000;
    transform: rotate(45deg);
}
.menuIconBuy.active>span{
    background-color: rgba(0,102,179,255);
}
.menuIconBuy.active>span:nth-child(2){
    width: 0;
}
.menuIconBuy.active>span:nth-child(1),.menuIconBuy.active>span:nth-child(3){
    transition-delay: .4s;
}
.menuIconBuy.active>span:nth-child(1){
    transform: translateY(9px);
}
.menuIconBuy.active>span:nth-child(3){
    transform: translateY(-9px) rotate(90deg)
}