@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("./assets/fonts/proximanova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./assets/fonts/proximanova_bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
  font-family: "Proxima Nova Regular", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.h4 {
  font-size: 1rem /* 30px */;
  font-family: "Proxima Nova Bold", sans-serif;
}

.h3 {
  font-size: 2rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-family: "Proxima Nova Bold", sans-serif;
}

.h2 {
  font-size: 3rem /* 30px */;
  line-height: 3rem /* 36px */;
  font-weight: 600;
  font-family: "Proxima Nova Bold", sans-serif;
}

.h1 {
  font-size: 4rem /* 48px */;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Proxima Nova Bold", sans-serif;
}

@media (max-width: 1025px) {
  .h1 {
    font-size: 3.5rem;
  }
  .h2 {
    font-size: 2.7rem;
  }
  .h3 {
    font-size: 1.75rem;
  }
}

@media (max-width: 769px) {
  .h1 {
    font-size: 3rem;
  }
  .h2 {
    font-size: 2.4rem /* 30px */;
  }
  .h3 {
    font-size: 1.5rem /* 30px */;
  }
}

@media (max-width: 640px) {
  .h1 {
    font-size: 2.5rem;
  }
  .h2 {
    font-size: 2.1rem /* 30px */;
  }
  .h3 {
    font-size: 1.25rem /* 30px */;
  }
}

.bgGradientCustom {
  background: radial-gradient(ellipse at top, rgba(161, 216, 248), transparent);
}

.bgGradientPrimary {
  background: radial-gradient(ellipse at top, rgba(0, 102, 179, 255), transparent);
}

.imgBlur {
  mask-image: linear-gradient(black, black, rgba(255, 255, 255, 0.425));
}

.backgroundBlur {
  mask-image: radial-gradient(circle, black, transparent);
}

.seeMoreBlur {
  mask-image: linear-gradient(black, black, rgba(255, 255, 255, 0));
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
